.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}

.mdl-layout__content {
  width: 100%;
}

.mobileOnly {
  display: none;
}

.loginButton {
  margin-top: 18px;
  margin-left: 10px;
}
.errormessage {
  color: red;
}

.homeUserPotBets {
  max-height: 450px;
  overflow-y: auto;
}

.myBetsText {
  font-size: 15px;
}
.delBetIcon {
  position: relative;
  font-size: 26px;
  bottom: -4px;
}
.editIcon {
  position: relative;
  font-size: 24px;
  left: 5px;
  bottom: -5px;
}

table.standardTable {
  min-width: 100%;
  background-color: white;
}

.userBets {
  max-height: 400px;
  overflow-y: scroll;
}

.selected{
  background-color: #D1EDE7;
}

nav {
  background-color: rgb(63,81,181);
}
nav ul a {
  line-height: 64px;
  font-size: 20px;
}
ul a:active, ul a:hover, ul a:focus {
  color: white;
  text-decoration: none;
}

.button-collapse:hover {
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px darkgrey;
}
.brand-logo:hover {
  text-decoration: none;
}

.usernameToTopScorer {
  font-size: 18px;
  float: right;
  margin-right: 20px;
}

.topScorerUserListDiv {
  max-height: 300px;
  overflow-y: auto;
}

.mdl-cell {
  box-sizing: border-box;
  background-color: #f2f2f2;
  padding-left: 12px;
  padding-right: 12px;
}

.groupTeamsTitle {
  margin-top: 35px;
}

#resultTeam1, #resultTeam2 {
  width: 40px;
  outline: none;
  display: inline;
  margin-left: 4px;
  margin-right: 4px;
}

#knockoutRound, #knockoutWinner {
  outline: none;
}

#gameDateDiv, #gameTimeDiv, #gameGroupDiv, #gameTeam1Div, #gameTeam2Div, #resultInputDiv, #knockoutRoundDiv, #knockoutWinnerDiv {
  width: auto;
}

#resultInputDiv {
  padding: 0px;
}

#userForCredits {
  width: auto;
}
#creditsToLoad {
  width: 130px;
}

#teamList {
  display: inline;
  width: auto;
}

#adminUserlist {
  max-height: 300px;
  overflow-y: scroll;
}

.mdi-delete {
  font-size: 25px;
}

.linkToChat {
  color: inherit;
}
.linkToChat:hover {
  text-decoration: none;
}
input#messageText {
  width: 84%;
}
#sendMessage {
  margin-bottom: 15px;
}
div#messages {
  max-height: 50vh;
  overflow-y: scroll;
}
.chatDatetime {
  font-size: 13px;
  font-style: italic;
  color: grey;
}


/* Für mobile optimiert */
@media (max-width:1000px) {
  table.standardTable tbody {
    white-space: normal;
  }
  table.standardTable tbody tr {
    width: 100%;
  }
  table.gamesTable tr {
    padding: 0;
    display: block;
  }
  table.gamesTable thead:first-child, table.gamesTable thead:first-child th:first-child {
    display: none;
  }

  table.groupsTable th {
    font-size: 12px;
  }

  .mobileHide {
    display: none;
  }
  .mobileOnly {
    display: block;
  }
  hr.mobileOnly {
    margin: 0;
  }
  .mobileBlock {
    display: block;
  }
  .mdl-grid {
    padding: 0;
  }
  .mdl-cell {
    margin: 0;
    margin-bottom: 20px;
    min-width: 100%;
    padding-left: 5px;
    padding-right: 5px;
  }
}
