.inline {
  display: inline;
}

table.standardTable {
  background-color: white;
}

.selected{
  background-color: #D1EDE7;
}

.usernameToTopScorer {
  font-size: 18px;
  float: right;
  margin-right: 20px;
}

.topScorerUserList {
  max-height: 300px;
  overflow-y: auto;
}

.mdl-cell {
  box-sizing: border-box;
  background-color: #f2f2f2;
  padding-left: 12px;
  padding-right: 12px;
}

.groupTeamsTitle {
  margin-top: 35px;
}

#resultTeam1, #resultTeam2 {
  width: 40px;
  outline: none;
  display: inline;
  margin-left: 4px;
  margin-right: 4px;
}

#knockoutRound, #knockoutWinner {
  outline: none;
}

#gameDateDiv, #gameTimeDiv, #gameGroupDiv, #gameTeam1Div, #gameTeam2Div, #resultInputDiv, #knockoutRoundDiv, #knockoutWinnerDiv {
  width: auto;
}

#resultInputDiv {
  padding: 0px;
}

.groupsTable {
  width: 100%;
  margin-bottom: 20px;
}
.groupsTable th, .groupsTable td {
  padding: 8px;
}

#userForCredits {
  width: auto;
}
#creditsToLoad {
  width: 130px;
}

#teamList {
  display: inline;
  width: auto;
}

/* Für mobile optimiert */
@media (max-width:1000px) {
  .mobileBlock {
    display: block;
  }
}
