<template name="games">
  <div class="page-content">
    {{#if currentUser}}
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
        {{> liveticker}}
        </div>
      </div>
    {{/if}}

    {{> openGames}}
  </div>
</template>


<template name="openGames">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
      <h4>Offene Spiele</h4>
      <table id="" class="standardTable gamesTable responsive-table bordered highlight">
        <thead>
          <tr>
            <th>Datum</th>
            <th>Uhrzeit</th>
            <th>Gruppe / Runde</th>
            <th>Mannschaft 1</th>
            <th>Mannschaft 2</th>
            <th>Auf Ergebnis wetten</th>
            <th>Tipps</th>
          </tr>
        </thead>
        {{#each openGames}}
          <thead class="mobileOnly">
            <tr>
              <th>Datum</th>
              <th>Uhrzeit</th>
              <th>Gruppe / Runde</th>
              <th>Mannschaft 1</th>
              <th>Mannschaft 2</th>
              <th>Auf Ergebnis wetten</th>
              <th>Tipps</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{date}}</td>
              <td>{{time}}</td>
              <td>
                {{#if groupName}}
                  {{groupName}}
                {{else}}
                  <b>{{knockoutRound}}</b>
                {{/if}}
              </td>
              <td>{{team1.name}}</td>
              <td>{{team2.name}}</td>
              <td>
                {{#if currentUser}}
                  {{#if datetimeOk}}
                    <form id="addBetResult">
                      {{#if canBet}}
                        <div id="resultInputDiv" class="mdl-textfield mdl-js-textfield">
                          <input class="resultInput mdl-textfield__input" id="resultTeam1" type="tel" name="resultTeam1" placeholder="{{team1.shortname}}" required>:<input class="resultInput mdl-textfield__input" id="resultTeam2" type="tel" name="resultTeam2" placeholder="{{team2.shortname}}" required>
                        </div>
                        <button class="mobileBlock mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Wetten</button>
                      {{/if}}
                    </form>
                    {{#each madeBet}}
                      <span class="mobileBlock myBetsText">{{result1}}:{{result2}} <a href="" class="delBet" betId="{{_id}}"><i class="delBetIcon mdi mdi-close-circle-outline"></i></a><span class="mobileHide"> | </span></span>
                    {{/each}}
                  {{else}}
                    {{#if madeBet.count}}
                      {{#each madeBet}}
                        {{result1}}:{{result2}} |
                      {{/each}}
                      <br />
                    {{/if}}
                    <span>Wetten abgeben nicht mehr möglich!</span>
                  {{/if}}
                {{else}}
                  <span>Bitte einloggen um Wette abzugeben!</span>
                {{/if}}
              </td>
              <!-- alle vorhandenen tipps für spiel anzeigen -->
              {{#if currentUser}}
                {{#if hasBetsForGame}}
                  <td>
                    <b>Gesamtgewinn: {{gamePot}}.- CHF</b><br />
                    <button id="showBets_{{_id}}" gameId="{{_id}}" class="showAllGameBets mobileBlock mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Alle Tipps anzeigen</button>
                    <button id="hideBets_{{_id}}" gameId="{{_id}}" class="hidden hideAllGameBets mobileBlock mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Ausblenden</button>
                    <span id="bets_{{_id}}" class="hidden">{{gameBets}}</span>
                  </td>
                {{else}}
                  <td><br /></td>
                {{/if}}
              {{else}}
                <td><br /></td>
              {{/if}}
            </tr>
          </tbody>
          <hr class="mobileOnly" />
        {{/each}}
      </table>
    </div>
  </div>
</template>
