<template name="games">

  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
      <h4>Offene Spiele</h4>
      {{> openGames}}
    </div>

    <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
      <h4>Abgeschlossene Spiele</h4>
      {{> finishedGames}}
    </div>
  </div>

</template>


<template name="openGames">
  <table id="" class="standardTable responsive-table bordered highlight"><!--<table id="groupsTable" class="mdl-data-table mdl-js-data-table">-->
    <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">Datum</th>
        <th class="mdl-data-table__cell--non-numeric">Uhrzeit</th>
        <th class="mdl-data-table__cell--non-numeric">Gruppe / Runde</th>
        <th class="mdl-data-table__cell--non-numeric">Mannschaft 1</th>
        <th class="mdl-data-table__cell--non-numeric">Mannschaft 2</th>
        <th class="mdl-data-table__cell--non-numeric">Auf Ergebnis wetten</th>
      </tr>
    </thead>
    <tbody>
      {{#each openGames}}
        <tr>
          <td class="mdl-data-table__cell--non-numeric">{{date}}</td>
          <td class="mdl-data-table__cell--non-numeric">{{time}}</td>
          <td class="mdl-data-table__cell--non-numeric">
            {{#if groupName}}
              {{groupName}}
            {{else}}
              <b>{{knockoutRound}}</b>
            {{/if}}
          </td>
          <td class="mdl-data-table__cell--non-numeric">{{team1.name}}</td>
          <td class="mdl-data-table__cell--non-numeric">{{team2.name}}</td>
          <td class="mdl-data-table__cell--non-numeric">
            {{#if currentUser}}
              {{#if datetimeOk}}
                <form id="addBetResult">
                  {{#if canBet}}
                    <div id="resultInputDiv" class="mdl-textfield mdl-js-textfield">
                      <input class="resultInput mdl-textfield__input" id="resultTeam1" type="number" name="resultTeam1" placeholder="{{team1.shortname}}" required>:<input class="resultInput mdl-textfield__input" id="resultTeam2" type="number" name="resultTeam2" placeholder="{{team2.shortname}}" required>
                    </div>
                    <button class="mobileBlock mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Wetten</button>
                  {{/if}}
                </form>
                {{#each madeBet}}
                  {{result1}}:{{result2}} |
                {{/each}}
              {{else}}
                {{#if madeBet.count}}
                  {{#each madeBet}}
                    {{result1}}:{{result2}} |
                  {{/each}}
                  <br />
                {{/if}}
                <span>Wetten abgeben nicht mehr möglich!</span>
              {{/if}}
            {{else}}
              <span>Bitte einloggen um Wette abzugeben!</span>
            {{/if}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</template>


<template name="finishedGames">
  <table id="" class="standardTable highlight bordered responsive-table">
    <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">Datum</th>
        <th class="mdl-data-table__cell--non-numeric">Uhrzeit</th>
        <th class="mdl-data-table__cell--non-numeric">Gruppe / Runde</th>
        <th class="mdl-data-table__cell--non-numeric">Mannschaft 1</th>
        <th class="mdl-data-table__cell--non-numeric">Mannschaft 2</th>
        <th class="mdl-data-table__cell--non-numeric">Ergebnis / Sieger</th>
      </tr>
    </thead>
    <tbody>
      {{#each closedGames}}
        <tr>
          <td class="mdl-data-table__cell--non-numeric">{{date}}</td>
          <td class="mdl-data-table__cell--non-numeric">{{time}}</td>
          <td class="mdl-data-table__cell--non-numeric">
            {{#if groupName}}
              {{groupName}}
            {{else}}
              <b>{{knockoutRound}}</b>
            {{/if}}
          </td>
          <td class="mdl-data-table__cell--non-numeric">{{team1.name}}</td>
          <td class="mdl-data-table__cell--non-numeric">{{team2.name}}</td>
          <td class="mdl-data-table__cell--non-numeric">
            {{result1}} : {{result2}}
            {{#unless groupName}}
               - <b>{{winnerTeam.name}}</b>
            {{/unless}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</template>
