<template name="groups">
  <div class="page-content">
    {{#if knockoutCount}}
      <h3>Finalrunden</h3>
      {{> knockoutOverview}}
    {{/if}}

    <h3>Gruppenübersicht</h3>
    {{> groupOverview}}
  </div>
</template>


<template name="groupOverview">
  <div class="mdl-grid">
    {{#each groups}}
    <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
      <h5>{{name}}</h5>
      <table id="" class="standardTable groupsTable bordered highlight">
        <thead>
          <tr>
            <th>Nr.</th>
            <th>Mannschaft</th>
            <th>Spiele</th>
            <th>S</th>
            <th>U</th>
            <th>N</th>
            <th>Tordifferenz</th>
            <th>Punkte</th>
          </tr>
        </thead>
        <tbody>
          {{#each teams}}
            <tr>
              <td>{{index}}</td>
              <td>{{name}} ({{shortname}})</td>
              <td>{{gamesCount}}</td>
              <td>{{wins}}</td>
              <td>{{draws}}</td>
              <td>{{lost}}</td>
              <td>{{goalsMade}} : {{goalsGot}}</td>
              <td>{{points}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    {{/each}}
  </div>
</template>


<template name="knockoutOverview">
  {{#if knockoutFinalCount}}
  <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
        <h3>Finale</h3>
        <table id="" class="standardTable responsive-table bordered highlight">
          <thead>
            <tr>
              <th>Datum</th>
              <th>Uhrzeit</th>
              <th>Mannschaft 1</th>
              <th>Mannschaft 2</th>
              <th>Ergebnis nach offizieller Spielzeit</th>
              <th>Sieger</th>
            </tr>
          </thead>
          {{#each knockoutFinal}}
            <thead class="mobileOnly">
              <tr>
                <th>Datum</th>
                <th>Uhrzeit</th>
                <th>Mannschaft 1</th>
                <th>Mannschaft 2</th>
                <th>Ergebnis nach offizieller Spielzeit</th>
                <th>Sieger</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{date}}</td>
                <td>{{time}}</td>
                <td>{{groupName1}} - {{team1.name}}</td>
                <td>{{groupName2}} - {{team2.name}}</td>
                <td>{{result1}} : {{result2}}</td>
                <td><b>{{winnerTeam.name}}</b></td>
              </tr>
            </tbody>
            <hr class="mobileOnly" />
          {{/each}}
        </table>
      </div>
    </div>
  {{/if}}

  {{#if knockoutSemiCount}}<div class="mdl-grid">
      <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
        <h3>Halbfinale</h3>
        <table id="" class="standardTable responsive-table bordered highlight">
          <thead>
            <tr>
              <th>Datum</th>
              <th>Uhrzeit</th>
              <th>Mannschaft 1</th>
              <th>Mannschaft 2</th>
              <th>Ergebnis nach offizieller Spielzeit</th>
              <th>Sieger</th>
            </tr>
          </thead>
          {{#each knockoutSemi}}
            <thead class="mobileOnly">
              <tr>
                <th>Datum</th>
                <th>Uhrzeit</th>
                <th>Mannschaft 1</th>
                <th>Mannschaft 2</th>
                <th>Ergebnis nach offizieller Spielzeit</th>
                <th>Sieger</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{date}}</td>
                <td>{{time}}</td>
                <td>{{groupName1}} - {{team1.name}}</td>
                <td>{{groupName2}} - {{team2.name}}</td>
                <td>{{result1}} : {{result2}}</td>
                <td><b>{{winnerTeam.name}}</b></td>
              </tr>
            </tbody>
            <hr class="mobileOnly" />
          {{/each}}
        </table>
      </div>
    </div>
  {{/if}}

  {{#if knockoutQuarterCount}}
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
        <h3>Viertelfinale</h3>
        <table id="" class="">
          <thead>
            <tr>
              <th>Datum</th>
              <th>Uhrzeit</th>
              <th>Mannschaft 1</th>
              <th>Mannschaft 2</th>
              <th>Ergebnis nach offizieller Spielzeit</th>
              <th>Sieger</th>
            </tr>
          </thead>
          {{#each knockoutQuarter}}
            <thead class="mobileOnly">
              <tr>
                <th>Datum</th>
                <th>Uhrzeit</th>
                <th>Mannschaft 1</th>
                <th>Mannschaft 2</th>
                <th>Ergebnis nach offizieller Spielzeit</th>
                <th>Sieger</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{date}}</td>
                <td>{{time}}</td>
                <td>{{groupName1}} - {{team1.name}}</td>
                <td>{{groupName2}} - {{team2.name}}</td>
                <td>{{result1}} : {{result2}}</td>
                <td><b>{{winnerTeam.name}}</b></td>
              </tr>
            </tbody>
            <hr class="mobileOnly" />
          {{/each}}
        </table>
      </div>
    </div>
  {{/if}}

  {{#if knockoutEighthCount}}
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
        <h3>Achtelfinale</h3>
        <table id="" class="standardTable gamesTable responsive-table bordered">
          <thead>
            <tr>
              <th>Datum</th>
              <th>Uhrzeit</th>
              <th>Mannschaft 1</th>
              <th>Mannschaft 2</th>
              <th>Ergebnis nach offizieller Spielzeit</th>
              <th>Sieger</th>
            </tr>
          </thead>
          {{#each knockoutEighth}}
            <thead class="mobileOnly">
              <tr>
                <th>Datum</th>
                <th>Uhrzeit</th>
                <th>Mannschaft 1</th>
                <th>Mannschaft 2</th>
                <th>Ergebnis nach off. Spielzeit</th>
                <th>Sieger</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{date}}</td>
                <td>{{time}}</td>
                <td>{{groupName1}} - {{team1.name}}</td>
                <td>{{groupName2}} - {{team2.name}}</td>
                <td>{{result1}} : {{result2}}</td>
                <td><b>{{winnerTeam.name}}</b></td>
              </tr>
            </tbody>
            <hr class="mobileOnly" />
          {{/each}}
        </table>
      </div>
    </div>
  {{/if}}
</template>
