<template name="groups">
  {{#if knockoutCount}}
    <h2>Finalrunden</h2>
    {{> knockoutOverview}}
  {{/if}}

  <h2>Gruppenübersicht</h2>
  {{> groupOverview}}
</template>


<template name="groupOverview">
  <div class="mdl-grid">
    {{#each groups}}
    <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
      <h5>{{name}}</h5>
      <table id="groupsTable" class="mdl-data-table mdl-js-data-table">
        <thead>
          <tr>
            <th class="mdl-data-table__cell--non-numeric">Platz</th>
            <th class="mdl-data-table__cell--non-numeric">Mannschaft</th>
            <th class="mdl-data-table__cell--non-numeric">Spiele</th>
            <th class="mdl-data-table__cell--non-numeric">S</th>
            <th class="mdl-data-table__cell--non-numeric">U</th>
            <th class="mdl-data-table__cell--non-numeric">N</th>
            <th class="mdl-data-table__cell--non-numeric">Tordifferenz</th>
            <th class="mdl-data-table__cell--non-numeric">Punkte</th>
          </tr>
        </thead>
        <tbody>
          {{#each teams}}
            <tr>
              <td class="mdl-data-table__cell--non-numeric">{{index}}</td>
              <td class="mdl-data-table__cell--non-numeric">{{name}} ({{shortname}})</td>
              <td class="mdl-data-table__cell--non-numeric">{{gamesCount}}</td>
              <td class="mdl-data-table__cell--non-numeric">{{wins}}</td>
              <td class="mdl-data-table__cell--non-numeric">{{draws}}</td>
              <td class="mdl-data-table__cell--non-numeric">{{lost}}</td>
              <td class="mdl-data-table__cell--non-numeric">{{goalsMade}} : {{goalsGot}}</td>
              <td class="mdl-data-table__cell--non-numeric">{{points}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    {{/each}}
  </div>
</template>


<template name="knockoutOverview">
  {{#if knockoutFinalCount}}
  <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
        <h3>Finale</h3>
        <table id="groupsTable" class="mdl-data-table mdl-js-data-table">
          <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric">Datum</th>
              <th class="mdl-data-table__cell--non-numeric">Uhrzeit</th>
              <th class="mdl-data-table__cell--non-numeric">Mannschaft 1</th>
              <th class="mdl-data-table__cell--non-numeric">Mannschaft 2</th>
              <th class="mdl-data-table__cell--non-numeric">Ergebnis nach offizieller Spielzeit</th>
              <th class="mdl-data-table__cell--non-numeric">Sieger</th>
            </tr>
          </thead>
          <tbody>
            {{#each knockoutFinal}}
              <tr>
                <td class="mdl-data-table__cell--non-numeric">{{date}}</td>
                <td class="mdl-data-table__cell--non-numeric">{{time}}</td>
                <td class="mdl-data-table__cell--non-numeric">{{groupName1}} - {{team1.name}}</td>
                <td class="mdl-data-table__cell--non-numeric">{{groupName2}} - {{team2.name}}</td>
                <td class="mdl-data-table__cell--non-numeric">{{result1}} : {{result2}}</td>
                <td class="mdl-data-table__cell--non-numeric"><b>{{winnerTeam.name}}</b></td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  {{/if}}

  {{#if knockoutSemiCount}}<div class="mdl-grid">
      <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
        <h3>Halbfinale</h3>
        <table id="groupsTable" class="mdl-data-table mdl-js-data-table">
          <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric">Datum</th>
              <th class="mdl-data-table__cell--non-numeric">Uhrzeit</th>
              <th class="mdl-data-table__cell--non-numeric">Mannschaft 1</th>
              <th class="mdl-data-table__cell--non-numeric">Mannschaft 2</th>
              <th class="mdl-data-table__cell--non-numeric">Ergebnis nach offizieller Spielzeit</th>
              <th class="mdl-data-table__cell--non-numeric">Sieger</th>
            </tr>
          </thead>
          <tbody>
            {{#each knockoutSemi}}
              <tr>
                <td class="mdl-data-table__cell--non-numeric">{{date}}</td>
                <td class="mdl-data-table__cell--non-numeric">{{time}}</td>
                <td class="mdl-data-table__cell--non-numeric">{{groupName1}} - {{team1.name}}</td>
                <td class="mdl-data-table__cell--non-numeric">{{groupName2}} - {{team2.name}}</td>
                <td class="mdl-data-table__cell--non-numeric">{{result1}} : {{result2}}</td>
                <td class="mdl-data-table__cell--non-numeric"><b>{{winnerTeam.name}}</b></td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  {{/if}}

  {{#if knockoutQuarterCount}}
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
        <h3>Viertelfinale</h3>
        <table id="groupsTable" class="mdl-data-table mdl-js-data-table">
          <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric">Datum</th>
              <th class="mdl-data-table__cell--non-numeric">Uhrzeit</th>
              <th class="mdl-data-table__cell--non-numeric">Mannschaft 1</th>
              <th class="mdl-data-table__cell--non-numeric">Mannschaft 2</th>
              <th class="mdl-data-table__cell--non-numeric">Ergebnis nach offizieller Spielzeit</th>
              <th class="mdl-data-table__cell--non-numeric">Sieger</th>
            </tr>
          </thead>
          <tbody>
            {{#each knockoutQuarter}}
              <tr>
                <td class="mdl-data-table__cell--non-numeric">{{date}}</td>
                <td class="mdl-data-table__cell--non-numeric">{{time}}</td>
                <td class="mdl-data-table__cell--non-numeric">{{groupName1}} - {{team1.name}}</td>
                <td class="mdl-data-table__cell--non-numeric">{{groupName2}} - {{team2.name}}</td>
                <td class="mdl-data-table__cell--non-numeric">{{result1}} : {{result2}}</td>
                <td class="mdl-data-table__cell--non-numeric"><b>{{winnerTeam.name}}</b></td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  {{/if}}

  {{#if knockoutEighthCount}}
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
        <h3>Achtelfinale</h3>
        <table id="groupsTable" class="mdl-data-table mdl-js-data-table">
          <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric">Datum</th>
              <th class="mdl-data-table__cell--non-numeric">Uhrzeit</th>
              <th class="mdl-data-table__cell--non-numeric">Mannschaft 1</th>
              <th class="mdl-data-table__cell--non-numeric">Mannschaft 2</th>
              <th class="mdl-data-table__cell--non-numeric">Ergebnis nach offizieller Spielzeit</th>
              <th class="mdl-data-table__cell--non-numeric">Sieger</th>
            </tr>
          </thead>
          <tbody>
            {{#each knockoutEighth}}
              <tr>
                <td class="mdl-data-table__cell--non-numeric">{{date}}</td>
                <td class="mdl-data-table__cell--non-numeric">{{time}}</td>
                <td class="mdl-data-table__cell--non-numeric">{{groupName1}} - {{team1.name}}</td>
                <td class="mdl-data-table__cell--non-numeric">{{groupName2}} - {{team2.name}}</td>
                <td class="mdl-data-table__cell--non-numeric">{{result1}} : {{result2}}</td>
                <td class="mdl-data-table__cell--non-numeric"><b>{{winnerTeam.name}}</b></td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  {{/if}}
</template>
