<template name="home">
  <h1>Home</h1>
  <table border="0" cellpadding="0" cellspacing="0" style="font-size: 90%; margin:1em 2em 1em 1em;">
  <tr>
  <td>&#160;</td>
  <td colspan="2" style="text-align:center; background-color:#dedede; border:1px solid #aaa;">Achtelfinale</td>
  <td colspan="2"></td>
  <td colspan="2" style="text-align:center; background-color:#dedede; border:1px solid #aaa;">Viertelfinale</td>
  <td colspan="2"></td>
  <td colspan="2" style="text-align:center; background-color:#dedede; border:1px solid #aaa;">Halbfinale</td>
  <td colspan="2"></td>
  <td colspan="2" style="text-align:center; background-color:#dedede; border:1px solid #aaa;">Finale</td>
  </tr>
  <tr>
  <td style="width:1px;">&#160;</td>
  <td style="width:185px;">&#160;</td>
  <td style="width:60px;">&#160;</td>
  <td style="width:5px;">&#160;</td>
  <td style="width:5px;">&#160;</td>
  <td style="width:185px;">&#160;</td>
  <td style="width:60px;">&#160;</td>
  <td style="width:5px;">&#160;</td>
  <td style="width:5px;">&#160;</td>
  <td style="width:185px;">&#160;</td>
  <td style="width:60px;">&#160;</td>
  <td style="width:5px;">&#160;</td>
  <td style="width:5px;">&#160;</td>
  <td style="width:185px;">&#160;</td>
  <td style="width:60px;">&#160;</td>
  </tr>
  <tr>
  <td style="height:7px;"></td>
  <td style="background-color:#f9f9f9; border:1px solid #aaa;">&#160;Zweiter Gruppe A</td>
  <td style="text-align:center; background-color:#f9f9f9; border:1px solid #aaa;"><i>Sa.,25.06.</i></td>
  <td style="text-align:center; border-width:0 0 2px 0; border-style:solid;border-color:black;">&#160;</td>
  </tr>
  <tr>
  <td style="height:7px;"></td>
  <td rowspan="2" style="background-color:#f9f9f9; border:1px solid #aaa;">&#160;Zweiter Gruppe C</td>
  <td rowspan="2" style="text-align:center; background-color:#f9f9f9; border:1px solid #aaa;"><i>15:00 Uhr</i></td>
  <td rowspan="6" style="text-align:center; border-width:2px 2px 2px 0; border-style:solid;border-color:black;">&#160;</td>
  </tr>
  <tr>
  <td style="height:7px;"></td>
  <td rowspan="2" style="text-align:center; border-width:0 0 2px 0; border-style:solid;border-color:black;">&#160;</td>
  <td rowspan="2" style="background-color:#f9f9f9; border:1px solid #aaa;">&#160;Sieger Achtelfinale 1</td>
  <td rowspan="2" style="text-align:center; background-color:#f9f9f9; border:1px solid #aaa;"><i>Do.,30.06.</i></td>
  <td rowspan="2" style="text-align:center; border-width:0 0 2px 0; border-style:solid;border-color:black;">&#160;</td>
  </tr>
  <tr>
  <td style="height:7px;"></td>
  <td rowspan="2" colspan="3" style="text-align:center;">&#160;</td>
  </tr>
  <tr>
  <td style="height:7px;"></td>
  <td rowspan="2" style="text-align:center; border-width:2px 0 0 0; border-style:solid;border-color:black;">&#160;</td>
  <td rowspan="2" style="background-color:#f9f9f9; border:1px solid #aaa;">&#160;Sieger Achtelfinale 3</td>
  <td rowspan="2" style="text-align:center; background-color:#f9f9f9; border:1px solid #aaa;"><i>21:00 Uhr</i></td>
  <td rowspan="12" style="text-align:center; border-width:2px 2px 2px 0; border-style:solid;border-color:black;">&#160;</td>
  </tr>
  <tr>
  <td style="height:7px;"></td>
  <td rowspan="2" style="background-color:#f9f9f9; border:1px solid #aaa;">&#160;Sieger Gruppe D</td>
  <td rowspan="2" style="text-align:center; background-color:#f9f9f9; border:1px solid #aaa;"><i>Sa.,25.06.</i></td>
  </tr>
  <tr>
  <td style="height:7px;"></td>
  </tr>
  <tr>
  <td style="height:7px;"></td>
  <td rowspan="2" style="background-color:#f9f9f9; border:1px solid #aaa;">&#160;Dritter Gruppe B/E/F</td>
  <td rowspan="2" style="text-align:center; background-color:#f9f9f9; border:1px solid #aaa;"><i>21:00 Uhr</i></td>
  <td rowspan="2" style="text-align:center; border-width:2px 0 0 0; border-style:solid;border-color:black;">&#160;</td>
  </tr>
  <tr>
  <td style="height:7px;"></td>
  <td colspan="4"></td>
  <td rowspan="2" style="text-align:center; border-width:0 0 2px 0; border-style:solid;border-color:black;">&#160;</td>
  <td rowspan="2" style="background-color:#f9f9f9; border:1px solid #aaa;">&#160;Sieger Viertelfinale 1</td>
  <td rowspan="2" style="text-align:center; background-color:#f9f9f9; border:1px solid #aaa;"><i>Mi.,06.07.</i></td>
  <td rowspan="2" style="text-align:center; border-width:0 0 2px 0; border-style:solid;border-color:black;">&#160;</td>
  </tr>
  <tr>
  <td style="height:7px;"></td>
  <td rowspan="2" colspan="7" style="text-align:center;"></td>
  </tr>
  <tr>
  <td style="height:7px;"></td>
  <td rowspan="2" style="text-align:center; border-width:2px 0 0 0; border-style:solid;border-color:black;">&#160;</td>
  <td rowspan="2" style="background-color:#f9f9f9; border:1px solid #aaa;">&#160;Sieger Viertelfinale 2</td>
  <td rowspan="2" style="text-align:center; background-color:#f9f9f9; border:1px solid #aaa;"><i>21:00 Uhr</i></td>
  <td rowspan="24" style="text-align:center; border-width:2px 2px 2px 0; border-style:solid;border-color:black;">&#160;</td>
  </tr>
  <tr>
  <td style="height:7px;"></td>
  <td rowspan="2" style="background-color:#f9f9f9; border:1px solid #aaa;">&#160;Sieger Gruppe B</td>
  <td rowspan="2" style="text-align:center; background-color:#f9f9f9; border:1px solid #aaa;"><i>Sa.,25.06.</i></td>
  <td rowspan="2" style="text-align:center; border-width:0 0 2px 0; border-style:solid;border-color:black;">&#160;</td>
  </tr>
  <tr>
  <td style="height:7px;"></td>
  </tr>
  <tr>
  <td style="height:7px;"></td>
  <td rowspan="2" style="background-color:#f9f9f9; border:1px solid #aaa;">&#160;Dritter Gruppe A/C/D</td>
  <td rowspan="2" style="text-align:center; background-color:#f9f9f9; border:1px solid #aaa;"><i>18:00 Uhr</i></td>
  <td rowspan="6" style="text-align:center; border-width:2px 2px 2px 0; border-style:solid;border-color:black;">&#160;</td>
  </tr>
  <tr>
  <td style="height:7px;"></td>
  <td rowspan="2" style="text-align:center; border-width:0 0 2px 0; border-style:solid;border-color:black;">&#160;</td>
  <td rowspan="2" style="background-color:#f9f9f9; border:1px solid #aaa;">&#160;Sieger Achtelfinale 2</td>
  <td rowspan="2" style="text-align:center; background-color:#f9f9f9; border:1px solid #aaa;"><i>Fr.,01.07.</i></td>
  </tr>
  <tr>
  <td style="height:7px;"></td>
  <td rowspan="2" colspan="3" style="text-align:center;">&#160;</td>
  </tr>
  <tr>
  <td style="height:7px;"></td>
  <td rowspan="2" style="text-align:center; border-width:2px 0 0 0; border-style:solid;border-color:black;">&#160;</td>
  <td rowspan="2" style="background-color:#f9f9f9; border:1px solid #aaa;">&#160;Sieger Achtelfinale 6</td>
  <td rowspan="2" style="text-align:center; background-color:#f9f9f9; border:1px solid #aaa;"><i>21:00 Uhr</i></td>
  <td rowspan="12" style="text-align:center; border-width:2px 0 2px 0; border-style:solid;border-color:black;">&#160;</td>
  </tr>
  <tr>
  <td style="height:7px;"></td>
  <td rowspan="2" style="background-color:#f9f9f9; border:1px solid #aaa;">&#160;Sieger Gruppe F</td>
  <td rowspan="2" style="text-align:center; background-color:#f9f9f9; border:1px solid #aaa;"><i>So.,26.06.</i></td>
  </tr>
  <tr>
  <td style="height:7px;"></td>
  </tr>
  <tr>
  <td style="height:7px;"></td>
  <td rowspan="2" style="background-color:#f9f9f9; border:1px solid #aaa;">&#160;Zweiter Gruppe E</td>
  <td rowspan="2" style="text-align:center; background-color:#f9f9f9; border:1px solid #aaa;"><i>21:00 Uhr</i></td>
  <td rowspan="2" style="text-align:center; border-width:2px 0 0 0; border-style:solid;border-color:black;">&#160;</td>
  </tr>
  <tr>
  <td style="height:7px;"></td>
  <td colspan="8"></td>
  <td rowspan="2" style="text-align:center; border-width:0 0 2px 0; border-style:solid;border-color:black;">&#160;</td>
  <td rowspan="2" style="background-color:#f9f9f9; border:1px solid #aaa;">&#160;Sieger Halbfinale 1</td>
  <td rowspan="2" style="text-align:center; background-color:#f9f9f9; border:1px solid #aaa;"><i>So.,10.07.</i></td>
  </tr>
  <tr>
  <td rowspan="2"></td>
  <td style="height:7px;"></td>
  <td rowspan="2" colspan="10" style="text-align:center;"></td>
  </tr>
  <tr>
  <td style="height:7px;"></td>
  <td rowspan="2" style="text-align:center; border-width:2px 0 0 0; border-style:solid;border-color:black;">&#160;</td>
  <td rowspan="2" style="background-color:#f9f9f9; border:1px solid #aaa;">&#160;Sieger Halbfinale 2</td>
  <td rowspan="2" style="text-align:center; background-color:#f9f9f9; border:1px solid #aaa;"><i>21:00 Uhr</i></td>
  </tr>
  <tr>
  <td style="height:7px;"></td>
  <td rowspan="2" style="background-color:#f9f9f9; border:1px solid #aaa;">&#160;Sieger Gruppe C</td>
  <td rowspan="2" style="text-align:center; background-color:#f9f9f9; border:1px solid #aaa;"><i>So.,26.06.</i></td>
  <td rowspan="2" style="text-align:center; border-width:0 0 2px 0; border-style:solid;border-color:black;">&#160;</td>
  </tr>
  <tr>
  <td style="height:7px;"></td>
  </tr>
  <tr>
  <td style="height:7px;"></td>
  <td rowspan="2" style="background-color:#f9f9f9; border:1px solid #aaa;">&#160;Dritter Gruppe A/B/F</td>
  <td rowspan="2" style="text-align:center; background-color:#f9f9f9; border:1px solid #aaa;"><i>18:00 Uhr</i></td>
  <td rowspan="6" style="text-align:center; border-width:2px 2px 2px 0; border-style:solid;border-color:black;">&#160;</td>
  </tr>
  <tr>
  <td style="height:7px;"></td>
  <td rowspan="2" style="text-align:center; border-width:0 0 2px 0; border-style:solid;border-color:black;">&#160;</td>
  <td rowspan="2" style="background-color:#f9f9f9; border:1px solid #aaa;">&#160;Sieger Achtelfinale 5</td>
  <td rowspan="2" style="text-align:center; background-color:#f9f9f9; border:1px solid #aaa;"><i>Sa.,02.07.</i></td>
  </tr>
  <tr>
  <td style="height:7px;"></td>
  <td rowspan="2" colspan="3" style="text-align:center;">&#160;</td>
  </tr>
  <tr>
  <td style="height:7px;"></td>
  <td rowspan="2" style="text-align:center; border-width:2px 0 0 0; border-style:solid;border-color:black;">&#160;</td>
  <td rowspan="2" style="background-color:#f9f9f9; border:1px solid #aaa;">&#160;Sieger Achtelfinale 7</td>
  <td rowspan="2" style="text-align:center; background-color:#f9f9f9; border:1px solid #aaa;"><i>21:00 Uhr</i></td>
  <td rowspan="12" style="text-align:center; border-width:2px 2px 2px 0; border-style:solid;border-color:black;">&#160;</td>
  </tr>
  <tr>
  <td style="height:7px;"></td>
  <td rowspan="2" style="background-color:#f9f9f9; border:1px solid #aaa;">&#160;Sieger Gruppe E</td>
  <td rowspan="2" style="text-align:center; background-color:#f9f9f9; border:1px solid #aaa;"><i>Mo.,27.06.</i></td>
  </tr>
  <tr>
  <td style="height:7px;"></td>
  </tr>
  <tr>
  <td style="height:7px;"></td>
  <td rowspan="2" style="background-color:#f9f9f9; border:1px solid #aaa;">&#160;Zweiter Gruppe D</td>
  <td rowspan="2" style="text-align:center; background-color:#f9f9f9; border:1px solid #aaa;"><i>18:00 Uhr</i></td>
  <td rowspan="2" style="text-align:center; border-width:2px 0 0 0; border-style:solid;border-color:black;">&#160;</td>
  </tr>
  <tr>
  <td style="height:7px;"></td>
  <td colspan="4"></td>
  <td rowspan="2" style="text-align:center; border-width:0 0 2px 0; border-style:solid;border-color:black;">&#160;</td>
  <td rowspan="2" style="background-color:#f9f9f9; border:1px solid #aaa;">&#160;Sieger Viertelfinale 3</td>
  <td rowspan="2" style="text-align:center; background-color:#f9f9f9; border:1px solid #aaa;"><i>Do.,07.07.</i></td>
  </tr>
  <tr>
  <td style="height:7px;"></td>
  <td rowspan="2" colspan="7" style="text-align:center;"></td>
  </tr>
  <tr>
  <td style="height:7px;"></td>
  <td rowspan="2" style="text-align:center; border-width:2px 0 0 0; border-style:solid;border-color:black;">&#160;</td>
  <td rowspan="2" style="background-color:#f9f9f9; border:1px solid #aaa;">&#160;Sieger Viertelfinale 4</td>
  <td rowspan="2" style="text-align:center; background-color:#f9f9f9; border:1px solid #aaa;"><i>21:00 Uhr</i></td>
  <td rowspan="2" style="text-align:center; border-width:2px 0 0 0; border-style:solid;border-color:black;">&#160;</td>
  </tr>
  <tr>
  <td style="height:7px;"></td>
  <td rowspan="2" style="background-color:#f9f9f9; border:1px solid #aaa;">&#160;Sieger Gruppe A</td>
  <td rowspan="2" style="text-align:center; background-color:#f9f9f9; border:1px solid #aaa;"><i>So.,26.06.</i></td>
  <td rowspan="2" style="text-align:center; border-width:0 0 2px 0; border-style:solid;border-color:black;">&#160;</td>
  </tr>
  <tr>
  <td style="height:7px;"></td>
  </tr>
  <tr>
  <td style="height:7px;"></td>
  <td rowspan="2" style="background-color:#f9f9f9; border:1px solid #aaa;">&#160;Dritter Gruppe C/D/E</td>
  <td rowspan="2" style="text-align:center; background-color:#f9f9f9; border:1px solid #aaa;"><i>15:00 Uhr</i></td>
  <td rowspan="6" style="text-align:center; border-width:2px 2px 2px 0; border-style:solid;border-color:black;">&#160;</td>
  </tr>
  <tr>
  <td style="height:7px;"></td>
  <td rowspan="2" style="text-align:center; border-width:0 0 2px 0; border-style:solid;border-color:black;">&#160;</td>
  <td rowspan="2" style="background-color:#f9f9f9; border:1px solid #aaa;">&#160;Sieger Achtelfinale 4</td>
  <td rowspan="2" style="text-align:center; background-color:#f9f9f9; border:1px solid #aaa;"><i>So.,03.07.</i></td>
  </tr>
  <tr>
  <td style="height:7px;"></td>
  <td rowspan="2" colspan="3" style="text-align:center;">&#160;</td>
  </tr>
  <tr>
  <td style="height:7px;"></td>
  <td rowspan="2" style="text-align:center; border-width:2px 0 0 0; border-style:solid;border-color:black;">&#160;</td>
  <td rowspan="2" style="background-color:#f9f9f9; border:1px solid #aaa;">&#160;Sieger Achtelfinale 8</td>
  <td rowspan="2" style="text-align:center; background-color:#f9f9f9; border:1px solid #aaa;"><i>21:00 Uhr</i></td>
  <td rowspan="2" style="text-align:center; border-width:2px 0 0 0; border-style:solid;border-color:black;">&#160;</td>
  </tr>
  <tr>
  <td style="height:7px;"></td>
  <td rowspan="2" style="background-color:#f9f9f9; border:1px solid #aaa;">&#160;Zweiter Gruppe B</td>
  <td rowspan="2" style="text-align:center; background-color:#f9f9f9; border:1px solid #aaa;"><i>Mo.,27.06.</i></td>
  </tr>
  <tr>
  <td style="height:7px;"></td>
  </tr>
  <tr>
  <td style="height:7px;"></td>
  <td style="background-color:#f9f9f9; border:1px solid #aaa;">&#160;Zweiter Gruppe F</td>
  <td style="text-align:center; background-color:#f9f9f9; border:1px solid #aaa;"><i>21:00 Uhr</i></td>
  <td style="text-align:center; border-width:2px 0 0 0; border-style:solid;border-color:black;">&#160;</td>
  </tr>
  </table>
</template>
