<template name="myAccount">
  <div class="page-content">
    {{#if currentUser}}
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
        {{> liveticker}}
        </div>
      </div>

      <div class="mdl-grid">
        <h3>Mein Konto</h3>
        <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
          <h4>Meine Tipps</h4>
          {{> profileData}}
        </div>

        <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
          {{> userCredits}}
        </div>

        <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
          <h4>Meine Tipps</h4>
          {{>userBets}}
        </div>
      </div>
    {{else}}
      <h3>Sie müssen eingeloggt sein um auf Ihr Konto zugreifen zu können!</h3>
    {{/if}}
  </div>
</template>


<template name="profileData">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
      <h5>Gewonnene Wetten (Gewinn total: <b>{{totalWonCredits}}.-</b>)</h5>
      <div class="userBets">
        <table class="standardTable gamesTable responsive-table bordered highlight">
          <thead>
            <tr>
              <th>Datum</th>
              <th>Uhrzeit</th>
              <th>Gruppe / Runde</th>
              <th>Mannschaft 1</th>
              <th>Mannschaft 2</th>
              <th>Resultat</th>
              <th>Gewinn</th>
            </tr>
          </thead>
          {{#each wonUserBets}}
            <thead class="mobileOnly">
              <tr>
                <th>Datum</th>
                <th>Uhrzeit</th>
                <th>Gruppe / Runde</th>
                <th>Mannschaft 1</th>
                <th>Mannschaft 2</th>
                <th>Resultat</th>
                <th>Gewinn</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{betGame.date}}</td>
                <td>{{betGame.time}}</td>
                <td>
                  {{#if groupName}}
                    {{groupName}}
                  {{else}}
                    <b>{{betGame.knockoutRound}}</b>
                  {{/if}}
                </td>
                <td>{{team1.name}}</td>
                <td>{{team2.name}}</td>
                <td>{{result1}}:{{result2}}</td>
                <td>{{wonCredits}}.-</td>
              </tr>
            </tbody>
            <hr class="mobileOnly" />
          {{/each}}
        </table>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
      <h5>Verlorene Wetten (Verlust total: <b>{{totalLostCredits}}.-</b>)</h5>
      <div class="userBets">
        <table class="standardTable gamesTable responsive-table bordered highlight">
          <thead>
            <tr>
              <th>Datum</th>
              <th>Uhrzeit</th>
              <th>Gruppe / Runde</th>
              <th>Mannschaft 1</th>
              <th>Mannschaft 2</th>
              <th>Tipp</th>
              <th>Resultat</th>
              <th>Verlust</th>
            </tr>
          </thead>
          {{#each lostUserBets}}
            <thead class="mobileOnly">
              <tr>
                <th>Datum</th>
                <th>Uhrzeit</th>
                <th>Gruppe / Runde</th>
                <th>Mannschaft 1</th>
                <th>Mannschaft 2</th>
                <th>Tipp</th>
                <th>Resultat</th>
                <th>Verlust</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{betGame.date}}</td>
                <td>{{betGame.time}}</td>
                <td>
                  {{#if groupName}}
                    {{groupName}}
                  {{else}}
                    <b>{{betGame.knockoutRound}}</b>
                  {{/if}}
                </td>
                <td>{{team1.name}}</td>
                <td>{{team2.name}}</td>
                <td>{{result1}}:{{result2}}</td>
                <td>{{betGame.result1}}:{{betGame.result2}}</td>
                <td>2.-</td>
              </tr>
            </tbody>
            <hr class="mobileOnly" />
          {{/each}}
        </table>
      </div>
    </div>
  </div>
</template>


<template name="userCredits">
  <h4>Mein Guthaben: <b>{{userCredits}}.- CHF</b></h4>
  <p>
    Um Guthaben aufzuladen, bitte bei <b>John Steiger (stjo)</b> melden und abrechnen. <br>
    Er kann das Guthaben dann auf Ihr Konto laden.
  </p>
</template>


<template name="userBets">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
      <h5>Auf Sieger des Turniers wetten</h5>
      <p>
        Sie können für 5.- CHF <b>einmalig</b> auf den Sieger des Turniers wetten.<br>
        Tipps können nur bis zum Start des ersten Spieles abgegeben werden!
      </p>
      {{#if winnerTeam}}
        <p>Sie haben bereits auf einen Sieger gesetzt: <b>{{winnerTeam.name}}</b></p>
      {{else}}
        {{#if beforeFirstGame}}
          <form id="addWinner">
            <div id="gameGroupDiv" class="mdl-textfield mdl-js-textfield">
              <select class="mdl-textfield__input" id="winnerTeam" name="winnerTeam" required>
                <option selected disabled>Sieger-Team</option>
                {{#each team}}
                  <option value="{{_id}}">{{name}}</option>
                {{/each}}
              </select>
            </div>
            <button class="mdl-button mdl-js-button mdl-button--colored mdl-button--raised mdl-js-ripple-effect">Auf Sieger setzen</button>
          </form>
        {{else}}
          <p><b>Sie können nicht mehr auf den Sieger tippen, da das Turnier bereits begonnen hat!</b></p>
        {{/if}}
      {{/if}}
    </div>

    <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
      <h5>Auf Torschützenkönig des Turniers wetten</h5>
      <p>
        Sie können für 5.- CHF <b>einmalig</b> auf den Torschützenkönig des Turniers wetten.<br>
        Tipps können nur bis zum Start des ersten Spieles abgegeben werden!
      </p>
      {{#if topScorer}}
        <p>Sie haben bereits auf einen Torschützenkönig gesetzt: <b>{{topScorer}}</b></p>
      {{else}}
        {{#if beforeFirstGame}}
          <form id="addTopScorer">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" id="topScorer" name="topScorer" required>
              <label class="mdl-textfield__label" for="topScorer">Torschützenkönig</label>
            </div>
            <button class="mdl-button mdl-js-button mdl-button--colored mdl-button--raised mdl-js-ripple-effect">Auf Torschützenkönig setzen</button>
          </form>
        {{else}}
          <p><b>Sie können nicht mehr auf den Torschützenkönig tippen, da das Turnier bereits begonnen hat!</b></p>
        {{/if}}
      {{/if}}
    </div>
  </div>

</template>
