<template name="navigation">
  <header>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <a class="brand-logo">EM-Tippspiel</a>
          <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi mdi-menu"></i></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="{{ pathFor route='home' }}">Home</a></li>
            <li><a href="/groups">Gruppenübersicht</a></li>
            <li><a href="/games">Spielplan &amp; Wetten</a></li>
            <li><a class="{{ noUserHidden }}" href="/myAccount">Mein Konto</a></li>
            <li><a class="{{ noUserHidden }} {{ noAdminHidden }}" href="/admin">Admin</a></li>
            {{#if currentUser}}
                <li><a class="logout" href="#">Logout</a></li>
            {{else}}
                <li><a href="/loginRegister">Login / Registrierung</a></li>
            {{/if}}
          </ul>
          <ul class="side-nav" id="slide-out">
            <li><a href="{{ pathFor route='home' }}">Home</a></li>
            <li><a href="/groups">Gruppenübersicht</a></li>
            <li><a href="/games">Spielplan &amp; Wetten</a></li>
            <li><a class="{{ noUserHidden }}" href="/myAccount">Mein Konto</a></li>
            <li><a class="{{ noUserHidden }} {{ noAdminHidden }}" href="/admin">Admin</a></li>
            {{#if currentUser}}
                <li><a class="logout" href="#">Logout</a></li>
            {{else}}
                <li><a href="/loginRegister">Login / Registrierung</a></li>
            {{/if}}
          </ul>
        </div>
      </nav>
    </div>
  </header>

  <script type="text/javascript">
    // initialization of the mobile navigation
    $(document).ready(function(){
      $(".button-collapse").sideNav();

      $('.button-collapse').sideNav({
      menuWidth: 220, // Default is 240
      closeOnClick: true // Closes side-nav on <a> clicks
    }
  );
    });
  </script>

</template>
