<template name="rules">
  <div class="page-content">
    <h1>Wettregeln</h1>
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
        <h3>Weltmeister / Torschützenkönig</h3>
        <p>
          Die Tipps für den Weltmeister und den Torschützenkönig können bis zum Beginn des ersten Gruppenspiels abgegeben werden.
          <br />
          Das Einreichen der Tipps erfolgt über die Seite <b>Mein Konto</b> und kostet jeweils <b>5.- CHF</b>.
        </p>
      </div>
      <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
        <h3>Tippen der Spiele</h3>
        <p>
          Für alle Spiele (bis und mit Finale) können max. 5 Tipps abgegeben werden, wobei auf das genaue Resultat getippt wird.
          <br />
          Das Einreichen der Tipps erfolgt über die Seite <b>Spielplan & Wetten</b> und kostet pro Tipp <b>2.- CHF</b>.
          <br />
          <b>Beispiel: </b>Frankreich vs. Rumänien -  1:0, 2:0, 2:1 - ergibt 6.- CHF Wetteinsatz.
          <br />
          <b>Als Resultat gilt das nach regulärer Spielzeit (+- 90min), ohne Verlängerung / Penaltyschiessen!</b>
        </p>
      </div>
      <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
        <h3>Auszahlung</h3>
        <p>
          Der Wetteinsatz pro Partie wird zu gleichen Teilen unter den Mitspielern, die das richtige Resultat getippt haben, aufgeteilt.
          <br />
          Es werden nur ganze Frankenbeträge ausgezahlt, weshalb allfällige Rundungsdifferenzen in den Sieger-Pot wandern.
          <br />
          Wird ein Spiel von keinem Mitspieler richtig getippt, wandern sämtliche Einzahlungen direkt in den Sieger-Pot.
        </p>
      </div>
      <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
        <h3>Wettfristen</h3>
        <p>
          Es kann jeweils bis zum geplanten Anpfiff eines Spiels getippt werden.
        </p>
      </div>
    </div>
  </div>
</template>
